@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}

html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    font-family: "Poppins";
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

html,
body {
    height: 100%;
    display: flex;
    /* overflow: hidden;  */
    align-items: center;
    justify-content: center;
    background: #222;
}

.button {
    border: none;
    outline: none;
    width: 165px;
    height: 70px;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.button:hover span:nth-child(4) {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
}

.button span {
    border-radius: 5px;
    position: absolute;
}

.button span:nth-child(1) {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: #488d80;
}

.button span:nth-child(2) {
    width: 120%;
    height: 30px;
    border-radius: 10px;
    background: #222;
    animation: rotate linear 3s infinite;
}

.button span:nth-child(3) {
    width: 100%;
    height: 100%;
    background-color: #222;
}

.button span:nth-child(4) {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    color: #fff;
    display: block;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    line-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    background-color: #488d80;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* NAME CENTER */
.hidden {
    opacity: 0;
}

.console-container {
    font-weight: 600;
    font-size: 1.8em;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all linear 0.4s;
    color: #fff;
}

.console-underscore {
    position: relative;
    top: -0.14em;
    transition: all linear 0.4s;
}

@keyframes runText {
    0%,
    45% {
        opacity: 0;
    }

    30% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

/* HEART */
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all linear 0.3s;
	animation: animate 1.3s infinite;
}

/* #pinkboard:before, #pinkboard:after {
	content: '';
	position: absolute;
	background: #FF5CA4;
	width: 100px;
	height: 160px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

#pinkboard:before {
	left: 100px;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
							0 10px 10px rgba(0,0,0,0.22);
}

#pinkboard:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
} */

@keyframes animate {
	0%, 100% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.8);
	}
}